@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Strada Alexandru Ioan Cuza 13<br />
    Craiova, DJ 200585<br />
    <abbr title="Phone">P:</abbr>
    0351.908.112
</address>

<p>If you are teacher at out university and you don't have an account please contact us at the below  email address.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@projectmanager.com">Support@projectmanager.com</a><br />
</address>