@{
    ViewBag.Title = "Home Page";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="no-overflow">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td><img src="/Images/UniversityLogo.png"></td>
                        <td style="font-size: 14pt">Welcome to <br><p style="font-size: 17pt;">Project Manager</p></td>
                    </tr>
                </tbody>
            </table>
            <p style="font-size: 14pt">An online platform for organizing projects at the University of Craiova.</p>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Get involved!</h3>
        <p>If you are a teacher and want to join our platform please contact us using the contact page or just simply click the link below.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Spread the word!</h3>
        <p>If you are a student and want a platform where you can organize you projects, check marks and talk directly to teachers on a specific project tell you teacher about our platform and we can make it easy for you both.</p>
    </div>
</div>